<div class="row columns" *ngIf="(user | async)?.uid">
  <p class="greeting">Hi {{displayName}}!</p>
</div>
<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Login With Facebook</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />

    <div class="chat-container" *ngFor="let item of items | async">
      <a href="#">{{item.name}}</a>
      
      <p>{{item.message}}</p>
    </div>
</div>